:root {
  --primario: #9c27b0;
  --primarioOscuro: #89119d;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;

  --fuentePrincipal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**Globales **/

body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/** Header**/

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 5rem 0;
}
/**Footer**/
.footer {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  text-align: center;
  font-family: var(--fuentePrincipal);
}

/**Navegacion**/

.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  /**gap: 2rem; /** Separacion forma nueva**/
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
  margin-right: 6rem;
}

.navegacion__enlace:last-of-type {
  margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--secundario);
}

/**Grid**/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Producto**/

.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.producto__imagen {
  width: 100%;
}

.producto__information {
}

.producto__nombre {
}

.producto__precio {
}
